@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"),
	     url("../fonts/PTSans-Bold.woff2") format("woff2"),
	     url("../fonts/PTSans-Bold.woff") format("woff");
	font-weight: 700;   
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"),
	     url("../fonts/PTSans.woff2") format("woff2"),
	     url("../fonts/PTSans.woff") format("woff");
	font-weight: 400;    
	font-style: normal;
}

/*Variables*/

:root {
	--basic-black: #000000;
	--basic-white: #FFFFFF;
	--basic-light-blue: #81B3D3;
	--basic-grey: #333333;
	--basic-light-grey: #EEEEEE;
	--basic-brown: #766357;
	--basic-white-grey: #F2F2F2;
	--basic-dark-grey: #666666;
	--basic-light-white: #F2F2F2;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", "sans-serif";
	font-size: 21px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

.block-greeting {
	background-color: #40E0D0;
}

.site-navigation {
	list-style: none;
}

.site-navigation li {
	font-size: 14px;
	line-height: 26px;
}

.site-navigation a {
	color: black;
	font-weight: bold;
}

.sedona-hidden {
	display: none;
}

.number-features h3 {
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.about-sedona p {
	font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.first-reason-content h3 {
	font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.first-reason-content span {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.first-reason-content p {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.first-reason-content {
	background-color: #81B3D2;
	color: white;
}

.feature-item h3 {
	font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.feature-item p {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.feature-block h3{
	font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.feature-block span {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.feature-block p {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.feature-block {
	background-color: #81B3D2;
	color: white;
}

.next-list {
	background-color: #EEEEEE;
}

.next-item h3 {
	font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.next-item span {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.next-item p {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.invitation h3 {
	font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.invitation p {
	font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.appointment h3 {
	font-size: 21px;
    line-height: 26px;
    background-color: #766357;
    color: white;
    font-weight: bold;
}

.hotel-search:hover {
	background-color: #604E43;
}

.hotel-search:active {
	background-color: #503E33;
	opacity: 0.3;
}

form .label-appointment {
	font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.footer-contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.social-networks {
	list-style: none;
}

.input-appointment,
.button-minus,
.button-plus {
	background-color: #F2F2F2;
	border: none;
}

.input-appointment:hover {
	background-color: #EBEBEB;
}

.input-appointment:focus {
	background-color: #FFFFFF;
}

.button-plus,
.button-minus {
	color: #A9A9A9;
}

.button-plus:hover {
	color: #000000;
}

.button-minus:hover {
	color: #000000;
}

.button-plus:active {
	color: #81B3D2;
}

.button-minus:active {
	color: #81B3D2;
}

.location-hidden,
.contact-information-hidden,
.be-friends-hidden,
.developed-hidden {
	display: none;
}


/*Catalog*/

.link-navigation-active {
	color: #766357;
}

.form-choice,
.min-cost,
.max-cost,
.submit-cost {
	color: #FFFFFF;
	background-color: #5F9EA0;
}

.fieldset-comfort-type,
.fieldset-cost {
	border: none;
}

.legend-infrastructure-type,
.legend-comfort-type,
.legend-cost {
	font-size: 16px;
    line-height: 21px;
}

.label-choice,
.min-cost,
.max-cost,
.submit-cost {
	font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.min-cost,
.max-cost,
.submit-cost {
	border: 2px solid #FFFFFF;
}

.submit-cost:hover {
	background: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #000000;
}

.found-hotels {
	font-size: 21px;
    line-height: 26px;
}

.input-choice {
	background-color: #FFFFFF;
}

.input-choice:active {
	background-color: #6A6A6A;
}

.sorting {
	font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.button-by-price,
.button-by-type,
.button-by-rating {
	font-size: 12px;
    line-height: 18px;
    border: none;
    text-transform: uppercase;
    background: #FFFFFF;
}

.button-by-type:hover {
	color: #81B3D2;
	opacity: 1.0;
}

.button-by-type:active {
	color: #000000;
	opacity: 1.0;
}

.button-by-rating:hover {
	color: #81B3D2;
	opacity: 1.0;
}

.button-by-rating:active {
	color: #000000;
	opacity: 1.0;
}

.button-by-type,
.button-by-rating {
	opacity: 0.3;
}

.button-by-price {
	color: #81B3D2;
}

.item-by-price,
.item-by-type,
.item-by-rating,
.item-content-hotels {
	list-style: none;
}

.item-by-type,
.item-by-rating {
	border-bottom: 1px dashed #81B3D2;
}

.title-motel {
	font-size: 21px;
    line-height: 26px;
}

.title-motel:hover {
	color: #81B3D2;
}

.title-motel:active {
	color: #000000;
	opacity: 0.3;
}

.paragraph-house {
	font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.link-detailed {
	background: #81B3D2;
	color: #FFFFFF;
	font-size: 14px;
    line-height: 21px;
}

.link-detailed:hover {
	background: #669EC0;
}

.link-detailed:active {
	background: #5496BD;
	opacity: 0.3;
}

.link-to-book {
	background: #766357;
	color: #FFFFFF;
	font-size: 14px;
    line-height: 21px;
}

.link-to-book:hover {
	background: #604E43;
}

.link-to-book:active {
	background: #503E33;
	opacity: 0.3;
}

.rating-motel {
	color: #666666;
	font-size: 14px;
    line-height: 21px;
    background: #F2F2F2;
    font-weight: 400;
}


/*Grid Index*/




.container {
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
	margin: 0 auto;
	width: 1200px;
}

.main-header {
	display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    width: 1200px;
}

.site-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 auto;
}

.item-navigation {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
}

.main-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 auto;
	width: 1200px;
}

.social-networks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 auto;
}

.social-item {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
}

.developed-block {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
}

.developed-button {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
}

.footer-contacts {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
}


/*Grid Catalog*/


.form-choice {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-template-rows: 217px;
}

.filter-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 86px;
	outline: 2px solid #00FF00;
}

.hotels-sedona-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.list-hotels {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	outline: 2px solid #00FF00;
}

.item-content-hotels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}



/*Flex index*/


.logo-block {
	display: flex;
	justify-content: center;
}

.block-greeting {
	display: flex;
	justify-content: center;
}

.about-sedona {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.first-reason {
	display: flex;
	margin: auto;
}

.first-reason-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features-list {
	display: flex;
}

.second-reason {
	display: flex;
}

.feature-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.next-list {
	display: flex;
	margin-top: 0px;
	height: 256px;
}

.invitation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.appointment {
	display: flex;
	flex-direction: column;
	align-items: center;
}